/ Button to trigger modal
%a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Launch demo modal
/ Modal
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Welcome to Cuppa
  .modal-body
    <img src="/assets/cuppa.png">
  
    %blockquote.pull-right
      %p Slang contraction of "cup of", believed to be Irish in origin. Meaning to have a cup of whatever the person offering is drinking, not necessarily tea, or coffee.
      %small.pull-right The Urban Dictionary
    %p Cuppa has been built to help you spend less time doing course admin. Currently it offers the following features:
    %ol
      .li Course
      .li test

  .modal-footer
    %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Dismiss
  