.panel.panel-primary
    .panel-heading
        .panel-title
            %h3 Help

    .panel-body      
        .panel.panel-default        
            .panel-heading
                %h4 Please read carefully:

            .panel-body

                