.panel.panel-primary
    .panel-heading
        .panel-title
            %h3 Privacy

    .panel-body      
        .panel.panel-default        
            .panel-heading
                %h4 Privacy Policy

            .panel-body
                Medicalcoursehub aims to deliver high quality rota course registration, administration and feedback tools for users and providers of medical education. To use and access the Medicalcoursehub website (“Our Site”), you will be asked to disclose certain personal information to us. Medicalcoursehub has provided this Privacy Policy (the “Policy”) because we value your right to control what personal information is collected about you and how this information is used.  This Policy (together with our Terms of Use and any other documents referred to in it) sets out the basis on which any personal data we collect about you, or that you provide to us, will be processed by us.
                Please read this Policy carefully to understand how we will treat your personal information and before submitting any personal information to Our Site.  By using Our Site, you consent to the collection and use of personal information as outlined in this Policy.  If you do not agree to this Policy, please do not use Our Site.  Your use of Our Site indicates your acceptance of this Policy and of the collection and use of personal information in accordance with it.
                %br/
                %br/
                If we make any material changes to this Policy, those changes will be posted on Our Site.  You should check Our Site periodically and specifically before you provide any personal information to ensure you are aware of our data processing practices.  Your continued use of Our Site following posting of any changes to the Policy will signal your acceptance of such changes.
                %br/
                %br/
                
                INFORMATION WE COLLECT
                %br/
                %br/
                Registered Users.  You will not be able to use Our Site properly and gain access to the content on Our Site unless you register with us.
                If you choose to register, you will be asked to complete our online Registration Form.  
                
                %br/
                %br/
                IP ADDRESSES AND COOKIES
                %br/
                %br/
                Like most websites, Our Site uses web log files to track site usage.  When you visit Our Site, we automatically receive the URL of the site from which you came and the site to which you are going.  We also receive the internet protocol (IP) address of your computer.  We may use this data in an aggregated format to anonymously determine how visitors navigate Our Site and how we may better tailor our services to meet user needs.  It is difficult to identify you through your IP address and we make no attempt to do so.
                %br/
                %br/
                As a result of your visit to Our Site, our web server may directly or indirectly place a "cookie" into your web browser.  A cookie is a small piece of information that helps us understand how users navigate Our Site.  These cookies contain no personal information, and cannot be linked to any personal information.  They are used only to help us understand how visitors navigate Our Site.  You may refuse to accept cookies by following the procedures specific to your browser.  However, if you do this, you may be unable to access certain parts of Our Site.
                %br/
                %br/
                HOW WE WILL USE YOUR INFORMATION
                %br/
                %br/
                If you have registered for a course using Our Site you will receive administration email relating to that course. We may also contact you by email with information about future courses or developments that might be of interest to you.
                %br/
                %br/
                You may opt-out of receiving communications from us at any time by logging into your account and amending your email preferences. 
                %br/
                %br/
                SHARING INFORMATION WITH THIRD PARTIES
                %br/
                %br/
                1.  Service providers
                %br/
                %br/
                You should be aware that Medicalcoursehub engages third parties to perform certain services in connection with the operation of Our Site.  These third party service providers who have access to your personally identifiable information are authorized to use this information only in a manner consistent with this Policy and for no unrelated purposes.
                %br/
                %br/
                2.  Disclosure of your information
                %br/
                %br/
                We will not sell, rent or otherwise make available any of your personal information to any persons or companies who could use your personal information for sales purposes or other as described in this Policy.  We may however share non-personal aggregated data with third parties.  Disclosure of aggregated data will not enable third parties to identify who you are or how to contact you personally.
                %br/
                %br/
                3.  Your user name and details
                %br/
                %br/
                Will only be available to the administrators of the courses you register for and employees of medicalcoursehub.  
                %br/
                %br/
                4.  Disclosure to law enforcement
                %br/
                %br/
                In certain circumstances, we may be required to disclose your personal information to law enforcement or other government officials.  If this happens we will only disclose the information necessary to comply with the request.  We may also, if we deem it necessary, disclose information to prevent a violation of the law and by accepting this Policy, you consent to our doing so, in our sole discretion.
                %br/
                %br/
                5.  Disclosure connected to business transactions
                %br/
                %br/
                We may also be required to disclose your personal information to the prospective seller or buyer of any business or assets we sell or buy, or if Medicalcoursehub substantially or all of Medicalcoursehub's assets are acquired by a third party, in which case personal information we hold will be one of the transferred assets
                %br/
                %br/
                ACCESS, CORRECTION AND RETENTION OF INFORMATION
                %br/
                %br/
                You can review your registered details and amend, add or delete information as desired.  You can do this at any time by logging in to your account on Our Site and editing your registered details.  If you wish to de-register and for your personal data to be deleted from our records you may contact us at:
                %br/
                %br/
                We may retain certain data contributed by you where necessary to prevent fraud or future abuse, or for legitimate business purposes, such as analysis of aggregated, non-personally-identifiable data or any data required by law.  All retained data will continue to be subject to the terms of this Policy.
                %br/
                %br/
                SECURITY
                %br/
                %br/
                All information you provide to us is stored on our servers. Your registered details can be accessed only by providing your password.  Where you have chosen (or where we have given you) a password that enables you to access certain parts of Our Site, you are responsible for keeping this password confidential.  We ask you not to share this password with anyone.
                %br/
                %br/
                Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to Our Site; any transmission is at your own risk.
                %br/
                %br/
                CHILDREN
                %br/
                %br/
                Our Site does not target children and we ask that minors (persons under 18 years) do not submit any personal information to or use Our Site.
                %br/
                %br/
                Last Updated: 12th November 2013
                %br/
                %br/
                Copyright © 2013 Medicalcoursehub All rights reserved.