=simple_form_for [:admin, @course_type, @question] do |f|
   

    =f.input :content, label: "Question title", as: "string"
    
    

    =f.input :question_type_id, collection: FeedbackQuestion::QuestionType.items_for_select, prompt: "select question type"

    =f.input :possible_answers, hint: "separate answers on new lines - leave blank for agreement level and free text"
   









    =f.submit "Save Question", :class => 'btn btn-primary'

