<p> Hi <%= @user.name %>, </p>

<p> Thanks for registering </p>

<p> You will receive a reminder email 1 week prior to the start of the course. If you have any questions please contact us via email. If you cannot make the course or wish to cancel please contact us a soon as possible. </p>

<p>Kind regards,</P>

<p> The STaR centre team</p>