
%p
%h3 This is certify that 
%h1= @registration.user.name
%p attended the

%h1= @registration.course.title

%p on 

%h2= @registration.course.start_time.strftime("%B #{@registration.course.start_time.day.ordinalize} %Y")