= simple_form_for @course, { :class => 'form-horizontal'} do |f|
  

  =f.input :title

  =f.input :start_time, label:'Date', :as=> :date, :order => [:month, :day, :year]

  =f.input :start_time, :as=> :time, :minute_step => 15

  =f.input :end_time, :as=> :time, :minute_step => 15

  =f.input :venue
  
  =f.input :description 
  .mercury-region{:id => "test","data-mercury" => "full"}
  =f.input :price
  
  =f.input :places_available, label: 'places'

  
  = f.submit nil, label:'Save', :class => 'btn btn-primary'
  
  .field.mercury-region{:id => "test2","data-mercury" => "full"}
    = f.label :venue
    = f.text_field :venue

