@import "bootstrap";

.body {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
}
@import "bootstrap-responsive";

.feedback_questions {

  font-weight: bold;
  color: #0044cc;
  font-size: 20px;
  line-height: 40px;

}

.feedback_form {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  padding: 40px;
  border-radius: 10px;
  margin-left: 300px;
  margin-right: 800px;
  margin-top: 50px;

}

.feedback_question_agreement_level {

  text-align: center;

}
 
input[type="radio"] {

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.def {
  font-family: hevetica;
  font-style: italic;
  text-align: right;
}

.list {

  list-style: ideograph-numeric;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 