@import "bootstrap";

.body {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
}
@import "bootstrap-responsive";

h1, h2, h3, h4, h5 {
    font-weight:300;
}

h3 {
    margin-top:30px;
}

select.date, select.time, 
#start_date__2i, #start_date__1i, 
#end_date__2i, #end_date__1i {
    width:100px;
}

#course_price, #course_places_available {
    width:70px;
}

.feedback_questions {

  font-weight: bold;
  color: #0044cc;
  font-size: 20px;
  line-height: 40px;

}

.feedback_form {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  padding: 40px;
  border-radius: 10px;
  margin-left: 300px;
  margin-right: 800px;
  margin-top: 50px;

}

.feedback_question_agreement_level {

  text-align: center;

}
 
input[type="radio"] {

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.def {
  font-family: hevetica;
  font-style: italic;
  text-align: right;
}

.list {

  list-style: ideograph-numeric;
}

#course_course_type_attributes_description{
    width:500px;
    height:100px;
}
