@import "bootstrap";


  .html {
    height: 100% !important;
  }

  .head {
    display: block !important;

    height: 100% !important;
  }

    
  .body {

    width: auto;
    text-align: center;
    margin: 0mm;
    height: 138mm;
    padding: 20mm;
    border: 5mm;
    border-color: #005793;
    border-style: ridge;
    border-width: 3mm;
  
 
}

  .course {
    position: fixed;
    width: auto;
    text-align: center;
    top: 30mm;
    left: 20mm;
    
   


  }
 
 .footer {

    position: absolute;
    top: 155mm;
    left: 20mm;
    text-align: left;

 }