@import "bootstrap";


  .html {
    height: 100% !important;
  }

  .head {
    display: block !important;

    height: 100% !important;
  }

    
  .body {

    width: auto;
    text-align: center;
    margin: 0mm;
    height: 150mm;
    padding: 20mm;
    border: 5mm;
    border-color: #002d59;
    border-style: groove;
    border-width: 5mm;
  
 
}
 