=form_tag registration_feedback_form_path, method: :post do

    .panel.panel-primary
        .panel-heading
            .panel-title
                Feedback form

        .panel-body

             

        
                
            .panel.panel-default        
               
                -@registration.course.feedback_questions.each do |question|
                    
                    .panel-heading
                        =label_tag :answer, question.content
                    .panel-body
                        =edit_question_field(question) 
                
    =submit_tag "Complete Feedback Form" , :class => 'btn btn-lg btn-primary btn-block'

    
  

    