.well.well-lg

    %h2 Feedback form: 

    =form_tag registration_feedback_form_path, method: :post do
        
        
       
        -@registration.course.feedback_questions.each do |question|
            .well.well-sm
                .Qu
                    =label_tag :answer, question.content
                =edit_question_field(question) 
            


    
    

    =submit_tag "Complete Feedback Form" , :class => 'btn btn-primary'
