=f.input :start_time, label:'Date', :as=> :date, :order => [:month, :day, :year]
=f.input :start_time, :as => :time, :minute_step => 15
=f.input :end_time, :as => :time, :minute_step => 15
=f.input :venue
=f.input :price
=f.input :places_available, label: 'Places'

