=f.input :start_time, label:'Start', :as=> :datetime, :order => [:month, :day, :year], :minute_step => 15
=f.input :end_time, label:'End', :as=> :datetime, :order => [:month, :day, :year], :minute_step => 15
=f.input :venue
=f.input :price
=f.input :places_available, label: 'Places'
=f.input :certificate, as: :file
=f.input :logo, as: :file
=f.input :signature, as: :file



