=f.input :start_time, label:'Date', :as=> :datetime, :order => [:month, :day, :year], :minute_step => 15
=f.input :end_time, :as => :time, :minute_step => 15
=f.input :venue
=f.input :price
=f.input :places_available, label: 'Places'
=f.input :certificate, as: :file
