%h2 New course

= simple_form_for ([:admin, @course]), { :class => 'form-horizontal'} do |f|

    .form-group.string.required.course_course_type_title
        %label.string.required.col-lg-2.control-label{for:"course_course_type_attributes_title"}
            %abbr{title:"required", required: true} * 
            Course Type
        .col-lg-10
            =f.select(:course_type_id, course_types.unshift(["New Course Type", 0]))

    =f.fields_for :course_type do |fct|
        =fct.hidden_field :id
        =fct.input :title
        =fct.input :description

    = render 'form', f: f
    = f.submit "Create Course", :class => 'btn btn-primary'

= link_to 'Back', admin_courses_path

:javascript
    function setupCourseTypeForm() {
        val = $('#course_course_type_id').val()
        if(val == 0) {
            $('#course_course_type_attributes_id').val(null)
            $('.course_course_type_title').show()
            $('.course_course_type_description').show()
        }
        else {
            $('#course_course_type_attributes_id').val(val)
            $('.course_course_type_title').hide()
            $('.course_course_type_description').hide()
        }
    }
    setupCourseTypeForm();
    $('#course_course_type_id').change(setupCourseTypeForm);

