!!!
%html
  %head.head
  = stylesheet_link_tag "certificates", :media => "all"
              
   
  %body.body
    <img src="/assets/STaR_logo.jpg" style="opacity: 0.3;position:fixed;top:40mm;left:5mm;width: 260mm; border: none; ">
    <img src="/assets/rbht_logo_new.gif" style="position:fixed; top: 10mm; left: 10mm">

    .course

      = yield

   

        
%footer.footer
  <img src="/assets/signature.png" style="position:fixed; bottom: 15mm; left: 80mm; border-bottom: 1px dashed black;">

  %h3 Dr Martin Carby
  %p Clinical Tutor and Consultant Respiratory & Transplant Physician: Director for Simulation at Harefield Hospital 

